---
import Layout from "../../layouts/as.astro";
import "../../styles/blog/blog.css";
---

<Layout>
  <!-- Explorations in Nature -->
  <section class="flyfree-blog">
    <div class="blog-header">
      <h1>Explorations in Nature</h1>
      <p>
        Journey into the wild and witness life as it unfolds. From rare bird
        encounters to hidden filming locations, discover the stories and moments
        that inspire every frame of FlyFree.
      </p>
    </div>

    <div class="blog-grid">
      <article class="blog-card">
        <img
          src="/images/blog/nature-explorations/bird-that-does-not-drink-water/img5.webp"
          alt="bird-that-does-not-drink-water"
        />

        <div class="blog-content">
          <span class="category">Wildlife Stories</span>
          <h2>
            <a href="/blog/nature-explorations/bird-that-does-not-drink-water"
              >A Bird that doesn't drink water</a
            >
          </h2>
          <p>
            A bird that thrives without ever taking a sip of water. Nature's
            ingenuity at its finest.
          </p>
        </div>
      </article>
    </div>
  </section>

  <!-- SKY AND BEYOND -->
  <section class="flyfree-blog">
    <div class="blog-header">
      <h1>Sky & Beyond</h1>
      <p>
        Look up and explore the wonders beyond the horizon. From eclipses and
        starry skies to golden sunsets and aerial drone views, celebrate the
        beauty of our ever-changing skies.
      </p>
    </div>

    <div class="blog-grid">
      <article class="blog-card">
        <img
          src="/images/blog/sky&beyond/Lunar-eclipse-2025/img7.webp"
          alt="Bird photography tip"
        />

        <div class="blog-content">
          <span class="category">Lunar Eclipse</span>
          <h2>
            <a href="/blog/sky&beyond/Lunar-eclipse-2025"
              >Lunar Eclipse 2025 | Blood Moon rises</a
            >
          </h2>
          <p>
            Master shutter speed, focus tracking, and timing for stunning
            bird-in-flight shots.
          </p>
        </div>
      </article>
    </div>
  </section>

  <!-- Guides & Tutorials -->
  <section class="flyfree-blog">
    <div class="blog-header">
      <h1>Guides & Tutorials</h1>
      <p>
        Learn the skills that bring FlyFree's stories to life — from wildlife
        photography and drone filming to cinematic editing.
      </p>
    </div>

    <div class="blog-grid">
      <!-- Blog Card - Brids in flight-->
      <article class="blog-card">
        <img
          src="/images/blog/guides&tutorials/How-to-Capture-Birds-in-Flight-Like-a-Pro/img3.webp"
          alt="Bird photography tip"
        />

        <div class="blog-content">
          <span class="category">Wildlife Photography</span>
          <h2>
            <a
              href="/blog/guides&tutorials/How-to-Capture-Birds-in-Flight-Like-a-Pro"
              >How to Capture Birds in Flight Like a Pro</a
            >
          </h2>
          <p>
            Master shutter speed, focus tracking, and timing for stunning
            bird-in-flight shots.
          </p>
        </div>
      </article>

      <!-- Blog Card - cinematic drone footages -->
      <article class="blog-card">
        <img
          src="/images/blog/guides&tutorials/3-Ways-to-Get-Smooth-Cinematic-Drone-Shots/img3.webp"
          alt="Drone video tip"
        />
        <div class="blog-content">
          <span class="category">Drone Videography</span>
          <h2>
            <a
              href="/blog/guides&tutorials/3-Ways-to-Get-Smooth-Cinematic-Drone-Shots"
              >3 Ways to Get Smooth Cinematic Drone Shots</a
            >
          </h2>
          <p>
            Use gimbal control, slow movements, and ND filters for breathtaking
            aerial footage.
          </p>
        </div>
      </article>

      <!-- Blog Card - davinci color grading beginner -->
      <article class="blog-card">
        <img
          src="/images/blog/guides&tutorials/Beginners-Guide-to-Color-Grading-Nature-Footage-in-DaVinci-Resolve/img3.webp"
          alt="Editing workflow"
        />
        <div class="blog-content">
          <span class="category">Editing</span>
          <h2>
            <a
              href="/blog/guides&tutorials/Beginners-Guide-to-Color-Grading-Nature-Footage-in-DaVinci-Resolve"
              >Beginner's Guide to Color Grading Nature Footage in DaVinci
              Resolve</a
            >
          </h2>
          <p>
            Enhance colors and bring out natural beauty without over-processing.
          </p>
        </div>
      </article>
    </div>
  </section>
</Layout>
