---
import Layout from "../layouts/as.astro";
import "../styles/about-us/about-us.css";
---

<Layout title = "About FlyFree">
    <div class="about-us-content">
        <div class="upperBg">
            <div class="upperFader">
                <p class="top-title">
                    Drift into the Nature’s Quiet Rhythm,
                </p>
                <h1 class="about-title">About FlyFree</h1>

                <div class="our-vision">
                    <p>
                        "Revealing the hidden beauty of Sri Lanka's wild and
                        scenic places, capturing moments that inspire connection
                        with nature."
                    </p>
                </div>
            </div>
        </div>

        <div class="our-story">
            <h2>Our Story</h2>
            <p>
                FlyFree began with a homemade drone and a simple camera,
                capturing aerial glimpses of our village. The early footage was
                shaky, but it sparked something special. Over time, we were able
                to upgrade to a professional drone, and FlyFree officially took
                flight as an aerial footage channel based in Sri Lanka. Soon
                after, we invested in a camera and essential gear, opening new
                doors to explore more than just skies. From birds in the
                wetlands to hidden wildlife trails, our journey expanded into
                the rich natural wonders of Sri Lanka. We're still learning,
                growing, and capturing. This is only the beginning of our path
                to uncover the unseen and share the quiet beauty of the world
                around us.
            </p>
        </div>

        <div class="behind-flyfree-full-bg">
        <div class="behind-FlyFree">
            <h2>Who is Behind FlyFree</h2>
            <p>
                FlyFree began with a deep love for nature and storytelling.
                We're just a small team with busy lives, but our passion keeps
                us going, always chasing the wild, one moment at a time.
            </p>

            <div class="team">
                <div class="person">
                    <div class="person-title">
                        <h3>Behind the Lens & Crafting the Cut</h3>
                    </div>
                    <img
                        src="/images/about-us/myself-dp.jpg"
                        alt="Sahan Preamarathna"
                        class="person-dp"
                    />
                    <div class="person-info">
                        <div class="name">Sahan Premarathna</div>
                        <div class="profession">
                            Computer Science Under Graduate Student
                        </div>
                        <div class="messege">&quot;i love nature.&quot;</div>
                    </div>
                </div>
                <div class="person">
                    <div class="person-title">
                        <h3>Director of Vision & Tone</h3>
                    </div>
                    <img
                        src="/images/about-us/thaththa-dp.jpg"
                        alt="Sumith Premarathna"
                        class="person-dp"
                    />
                    <div class="person-info">
                        <div class="name">Sumith Premarathna</div>
                        <div class="profession">Consultant General Surgeon</div>
                        <div class="messege">
                            &quot;i love nature too.&quot;
                        </div>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="whatsnext">
            <h2>What's Next?</h2>
            <p>
                We're just getting started. At FlyFree, we strive to grow with
                every step enhancing our skills, upgrading our tools, and
                pushing creative boundaries. Our journey will take us to
                uncharted corners of Sri Lanka, uncovering rare wildlife, hidden
                landscapes, and untold stories. We aim to deliver content that
                is both entertaining and educational, connecting people deeply
                to the natural world. Looking ahead, we hope to expand our
                horizons and travel the whole world, capturing its incredible
                diversity and sharing its beauty with you.
            </p>
        </div>
    </div>

    <script src="/scripts/about-us/ab-us.js" is:inline></script>
</Layout>
