---
import Layout from '../layouts/pageLayout.astro';
---

<Layout>
    <div class="content">

    </div>
</Layout>

<style>
    /* nav a{
        background-color:blue;
    } */

    body{
        /* background: linear-gradient(to right, 
        white 0%, 
        white 35%, 
        rgba(255, 255, 255, 0.6) 50%, 
        rgb(15, 155, 90) 100%);
        } */

        background-color: rgba(190, 69, 69, 1);
    }

    .content{

    }

    @media (max-width: 768px){

    }
</style>