---
import Layout from "../layouts/as.astro";
import "../styles/home/home.css";
---

<Layout>
  <div class="home-content">
    <div class="top-hero">
      <div class="big-title"><h1>FlyFree Productions</h1></div>
      <p>
        Capturing the soul of Sri Lanka’s wilderness, preserving its beauty for
        all who seek wonder beyond the ordinary.
      </p>
    </div>

    <!-- <div class="hero-wrapper">
      <div class="hero-slider">
        <div class="hero-panel" id="panel1">
          <h1>Wildlife and Wilderness</h1>
          <p>
            Where untamed creatures roam and nature’s raw beauty unfolds, Sri
            Lanka’s wild heart beats in harmony.
          </p>
          <a href="/explore">Explore with us.</a>
        </div>

        <div class="hero-panel" id="panel3">
          <h1>The Beauty of Sri Lanka</h1>
          <p>
            Experience the stunning landscapes, serene lagoons, and untouched
            wilderness that make Sri Lanka a true natural paradise.
          </p>
        </div>

        <div class="hero-panel" id="panel2">
          <h1>The Story Behind the Shot</h1>
          <p>
            Every frame holds a story — from misty dawns to patient hours in the
            wild, where FlyFree’s journey truly begins.
          </p>
        </div>
      </div>

      <button class="slide-btn left" onclick="slideLeft()">←</button>
      <button class="slide-btn right" onclick="slideRight()">→</button>
    </div> -->


  <div class="temp" style="height: 100vh; background-color: white"></div>


    
  </div>


  <script src="/scripts/home/home.js" is:inline></script>
</Layout>
