---
import Layout from '../layouts/as.astro';
import '../styles/explore/ex.css';
---

<Layout>
  <div class="explore-container" id="exploreContainer"></div>

  <script type="module">
  import { loadExploreSections } from '/scripts/explore/exp_panell.js';
  window.addEventListener('DOMContentLoaded', () => {
    loadExploreSections();
  });
</script>



</Layout>

<style>
  body{
    background-color: aliceblue;
  }
</style>
