body {
    background-color: rgb(255, 255, 255);
}

.equipment-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 70%;
    justify-self: center;
    align-items: center;

}



.upperBg {
    width: 100%;
    /* background-color: rgb(91, 80, 80); */
    background-image: url("/images/gear/banner.webp");
    background-size: cover;
    background-position: center 28%;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    transition: 0.4s ease-in-out;

}


.upperBg:hover {
    transform: scale(1.02);

}

.upperFader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.equipment-title {
    font-size: 3rem;
    margin-top: 0%;
    font-family: Arial, sans-serif;
    color: white;
    /* justify-self: center; */
    text-shadow:
        0 0 2px #00000022,
        0 0 4px #00000022,
        0 0 6px #00000022;
}

.top-title {
    font-size: 1em;
    margin-top: 7vh;
    color: rgba(0, 0, 0, 0.644);
    color: white;
    text-shadow:
        0 0 2px #fffbfb4d,
        0 0 4px #eaeaea35,
        0 0 6px #f4eaea3c;

}

.our-vision {
    width: 100%;
    text-align: center;

}

.our-vision p {
    height: auto;

    width: 100%;
    height: 5vh;
    align-content: center;
    font-size: 1.1em;
    line-height: 1.5;
    background-color: rgba(57, 55, 55, 0.366);
    backdrop-filter: blur(10px);
    color: white;

}

.wide-image {
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
}

/* calling all the panels */
.gear-panel-full-bg {
    display: flex;
    width: 100%;
    background-color: rgb(244, 244, 244);
    border-radius: 5px;

    justify-content: center;
    margin-bottom: 4vh;
    padding-top: 5vh;
}

.gear-panels {
    width: 80%;
    margin-bottom: 5vh;
}

.gear-panels .para-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gear-panels .main-para {
    text-align: justify;
    padding: 3vh;
    padding-right: 0%;
    margin-left: 1vh;
    border-left: 2px solid rgba(0, 0, 0, 0.36);
    font-size: 1.1em;
    line-height: 1.5;
}

.gear-current {
    margin-top: 2vh;
}

.gear-current .main-para {
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 5vh;
    margin-top: 3vh;

}

.gear-current .imageWrapper {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 60vh;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);

}

.gear-current .imageWrapper img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-position: center;
    object-fit: cover;


}


.gear-main-cam .main-para {
    margin-bottom: 0%;
}

.gear-main-cam img {
    width: 40%;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    height: 40vh;
    object-fit: contain;
    object-position: center;
}

.gear-lenses .lens-para-wrapper {
    display: flex;
    width: 100%;
    gap: 2vh;
}

.gear-lenses .lens-para-wrapper-item {
    width: 70%;
}

.gear-lenses .imageWrapper {
    width: 30%;
    padding: 3vh;
}

.gear-lenses .imageWrapper img {
    border-radius: 5px;
    width: 100%;
    height: 25vh;
    margin-left: 3.5vh;
    object-fit: contain;

}

.gear-support .support-para-wrapper {
    display: flex;
    width: 100%;
    gap: 2vh;
}

.gear-support .support-para-wrapper-item {
    width: 70%;
}

.gear-support .imageWrapper {
    width: 25%;
    padding: 3vh;
}

.gear-support .imageWrapper img {
    width: 80%;
    border-radius: 5px;
    margin-left: 7vh;
}

.gear-drones img {
    width: 55%;
    height: 50vh;
    align-self: center;
    justify-self: center;
    margin: 2vh;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);

}

.gear-software .main-para {
    padding-top: 0;
    padding-bottom: 0;
}

.gear-extra .main-para {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3vh;
}

.gear-extra .gear-list {
    margin: 3vh;
}

.gear-extra .gear-list li {
    margin-bottom: 3vh;
}

.gear-ride .two-img-panel {
    display: flex;
    /* background-color: aquamarine; */
    align-self: center;
    justify-self: center;
    justify-content: center;
    margin-bottom: 2vh;
    gap: 1vh;
}

.gear-ride img {
    width: 50%;

    height: 35vh;
    align-self: center;
    justify-self: center;
    margin: 2vh;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    /* object-fit: contain; */

}

.gear-lenses .para-items-lens .lens-para {
    padding-top: 0%;
    padding-bottom: 0%;
}

img {
    transition: 0.3s ease;
}

img:hover {
    transform: scale(1.02);
}


@media (max-width: 768px) {

    .equipment-content {
        width: 100%;
    }

    .equipment-title {
        text-align: center;
    }


    .upperBg {
        height: 40vh;
        border-radius: 0%;
    }

    .our-vision p {
        height: auto;
        padding: 1vh;
    }

    .gear-panels .main-para {
        padding: 0%;
        padding-right: 0%;
        margin-left: 0vh;
        border-left: none;
        font-size: 1.1em;
        line-height: 1.5;
    }

    .gear-current .imageWrapper {
        width: 100%;

    }

    .gear-current .imageWrapper img {
        width: 100%;
        border-radius: 5px;
    }

    .gear-main-cam img {
        width: 90%;

    }

    .gear-lenses .lens-para-wrapper {
        flex-direction: column;
    }

    .gear-lenses .lens-para-wrapper-item {
        width: 100%;
    }

    .gear-lenses .imageWrapper {
        width: 100%;
        padding: 3vh;
    }

    .gear-lenses .imageWrapper img {
        margin-left: 0%;
    }

    .gear-drones img {
        width: 100%;
        height: 40vh;
    }

    .gear-support .support-para-wrapper {
        flex-direction: column;
    }

    .gear-support .support-para-wrapper-item {
        width: 100%;
    }

    .gear-support .imageWrapper {
        display: flex;
        width: 100%;
        padding: 0%;
        justify-content: center;
        justify-items: center;
        margin-bottom: 2vh;
    }

    .gear-support .imageWrapper img {
        margin-left: 0%;
        width: 50%;
    }

    .gear-extra .gear-list {
        margin: 0;
    }

    .gear-extra .gear-list li {
        margin: 0;
        margin-top: 4vh;
    }

    .gear-ride .two-img-panel {
        flex-direction: column;
    }

    .gear-ride img {
        width: 100%;
        height: auto;
    }

}