/* overriding body content here */
    body{
        /* background-color: aqua; */
        /* background: radial-gradient(aqua, rgb(226, 186, 220)); */
        /* background: radial-gradient(#ffffff, #f2f2f2); */
        /* background: radial-gradient(#f0faff, #f6eaf3); */
        /* background: radial-gradient(#f6eaf3, #f0faff); */
        background: rgb(255, 255, 255);
        position: relative;
        /* background: linear-gradient(to left, rgb(243, 243, 243), transparent); */
        /* background: radial-gradient(transparent, rgba(226, 186, 220, 1)); */
        /* background: linear-gradient(to bottom left, rgba(226, 186, 220, 1), transparent 150px); */
    }

    /* body::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;  
        height: 50%;  
        background-image: radial-gradient(rgb(222, 196, 224), transparent);
        z-index: -1; 
    } */
    

    .ex-content{
        display: flex;
        flex-direction: column;
        justify-self: center;
        /* background-color: aqua; */
        /* margin-top: 20px; */
        /* padding: 10px; */
        /* height: 200%; */
        width: 100%;
    }

    @media (max-width: 768px){
        .ex-content{
            background-color: transparent;
            align-items: center;
        }

        body{
            /* background-image: url("/images/explore/flamingos-2025/flamingo-banner.webp"); */
            background-size: cover;
            background-position: center top;
            overscroll-behavior: none;
            background-attachment: fixed;
        }
        body::before {
            display: none;
        }
    }

    #title-img-box{
        
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        font-weight: 900;
        color: white;
        /* background-image: url("/images/flamingo/flamingo-banner.webp"); */
        /* background-position: center ; */
        /* background-size: cover; */
        min-height: 60vh;
        margin-top: -1.5%;
        /* margin-bottom: 30px */
        overflow: hidden;
        position: relative;
    }

    #title-img-box img{
        position: absolute;
        width: 100%;
        object-position: center;
        /* height: 100%; */
        /* background-color: rgb(16, 29, 29); */
    }

    #title-img-box h1{
        border: 2px solid rgb(240, 240, 240);
        backdrop-filter: blur(10px);
        padding: 2vh;
        font-size: clamp(2em, 1vw, 3em);;
    font-family: Arial, sans-serif;
        line-height: 0.7;
        border-radius: 5px;


    }

    #title-img-box h1 span{
        font-size: 0.6em;
    }

    p{
        font-size: 1.1em;
    }

    .mainpara{
        padding: 10%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-top: 20px;
        /* background-color: rgb(255, 255, 255, 0.2); */
        /* color: antiquewhite; */
        /* color: ; */
        /* backdrop-filter: blur(10px); */
        font-size: 1.1em;
        line-height: 1.5;
        border-radius: 10px;
        text-align: center;

    }

    #sub{
        align-self: center;
        background-color: red;
        padding: 15px;
        border-radius: 15px;
        width: 330px;
        /* margin-top: 30px; */
        margin-bottom: 50px;
        transition: transform 0.3s ease;
        text-decoration: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    }

    
    #sub:hover{
        transform: scale(1.03);
    }

    .subscribe-btn{
        font-size: 1.2em;
        font-weight: 700;
        color: rgb(255, 255, 255);
        
    }

    .steps{
        
        width: 100%;
        /* margin-left: 50px; */
        /* margin-right: 50px; */

        padding: 10%;
        padding-top: 3%;
        padding-bottom: 3%;



        border-radius: 10px;
        background-color: rgb(230, 230, 230);
        background-position: center;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contentSteps{
        width: 80%;
        /* padding: 20px; */
        /* background-color: rgb(255, 255, 255, 0.3); */
        backdrop-filter: blur(5px);
    }

    .steps h2{
        margin-bottom: 5%;
        margin-top: 2%;
        font-size: 2em;
        /* line-height: 2; */
    }
    .steps #stepsPara{
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .steps ul{
        padding: 15px;
        padding-left: 35px;
        padding-right: 0px;
        line-height: 1.3;
        /* background-color: rgb(206, 131, 213, 0.2); */
        border-radius: 10px;
    }

    /* .steps ul li{ */
        /* margin-bottom: 10px; */
        /* padding: 5px; */

    /* } */

    .steps ul li h4{
        font-size: 1.4em;
    }

    .steps ul li p{
        text-align: justify;
        font-size: 1.1em;
        /* background-color: rgb(73, 52, 52); */
    }

    .map-container{
        width: 50%;
        height: auto;
        /* background-color: blue; */
        align-self: flex-start;
        /* margin: auto; */
        margin-top: 15%;
        margin-left: 10%;
    }

    .map-container iframe{
        width: 100%;
        /* margin: 20px; */
        border-radius: 15px;
        transition: 0.3s ease;
    }

    .map-container iframe:hover{
        transform: scale(1.03);
    }

    .experience{
        padding: 10%;
        padding-top: 0%;
        padding-bottom: 3%;
        /* padding: 15px; */
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    .experience h2{
        /* margin-top: 10px; */
        margin-bottom: 3%;
        font-size: 2em;
    }

    .experience p{
        margin-top: 0%;
        /* margin-bottom: 5%; */
        line-height: 1.5;
    }

    .ex-gallery {        
        display: none;
    }
    

    

   


    .carousel-wrapper {
        justify-self: center;
        margin-top: 3%;
        position: relative;
        width: 100%;
        /* max-width: 1000px; */
        overflow: hidden;
    }

    .carousel-track {
      display: flex;
      transition: transform 1.25s ease-in-out;
    }

    .carousel-slide {
      flex: 0 0 33.333%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0.8);
      opacity: 0.5;
      transition: transform 1.25s ease, opacity 1.25s ease;
    }

    .carousel-slide.active {
      transform: scale(1);
      opacity: 1;
    }

    .carousel-slide img {
      width: 90%;
      /* max-width: 300px; */
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    .arr {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(240, 240, 240, 0.9);
      border: none;
      font-size: 2rem;
      cursor: pointer;
      padding: 10px 15px;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      z-index: 10;
    }

    .arr.left {
      left: 10px;
    }

    .arr.right {
      right: 10px;
    }

    .arr:disabled {
      opacity: 0.4;
      cursor: default;
    }


    @media (max-width: 768px){

        p{
            text-align: justify;
        }
        

        #title-img-box{
            margin-top: -30px;
            background-image: none;
            background-color: transparent;
            text-align: center;
        }

        #title-img-box img{
            display: none;
        }

        #title-img-box h1{
            border: none;
            font-size: 1.8em;
            font-weight: 900;
            backdrop-filter: none;
            background-color: transparent;
            border-radius: 10px;
            padding: 5px;
            line-height: 1.2;
        }

        .mainpara{
            border-radius: 10px;
            background-color: rgb(255, 255, 255, 0.7);
            backdrop-filter: blur(10px);
            width: 95%;

        }
        #sub{
            margin-top: 10%;
        }


        .steps{
            /* width: 95%; */
            margin-top: 20px;
            background-color: rgb(127, 255, 212, 0.2);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            flex-direction: column;
        }

        .contentSteps{
            width: 100%;
            background-color: transparent;
            backdrop-filter: none;
            
        }

        .steps ul{
            background-color: rgb(255, 255, 255, 0.4);
            backdrop-filter: blur(10px);
            /* padding: 0%; */
        }

        .steps ul li p{
            line-height: 1.2;
            /* text-align:justify; */
            padding-right: 3vh;
            padding: none;
        }

        .map-container {
            width: 100%;
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 0%;
            align-self: center;
            
        }

        .map-container iframe{
            width: 100%;
            align-self: center;
            margin: auto;
        }

        .experience{
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: rgb(255, 255, 255, 0.7);
            backdrop-filter: blur(10px);
        }

        .experience h2{
            margin-top: 10%;
        }

        .experience p{
            margin-top: 10%;
            /* line-height: 1.2; */

        }

        .ex-gallery {
            border-radius: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1rem;
            margin-top: 1.5rem;
            /* background-color: aqua; */
            backdrop-filter: blur(10px);
            padding: 20px;
        }

        .ex-gallery img {
            width: 100%;
            object-fit: cover;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

         .ex-gallery img:hover {
            transform: scale(1.03);
        }

        .carousel-wrapper{
            display: none;
        }
    }