---
import Layout from "../../../layouts/as.astro";
import "../../../styles/blog/blog-page.css";
---

<Layout>
    <article class="blog-post">
    <header class="post-header">
      <h1>A Bird That Doesn't Drink Water</h1>
      <time datetime="2025-07-28">September 08, 2025</time>
      <p class="post-intro">
        The moon turned a deep shade of red. A rare Blood Moon that I was
        fortunate to capture through my lens.
      </p>
    </header>

    <figure class="post-image">
      <img
        src="/images/blog/nature-explorations/bird-that-does-not-drink-water/img1.webp"
        alt="Lunar Eclipse 2025"
      />
      <!-- <img src="https://placehold.co/600x400/000000/FFFFFF.png?text=TEMP+IMAGE" alt="Bird soaring in the sky" /> -->

      <figcaption>Lunar Eclipse 2025</figcaption>
    </figure>

    <section class="post-content">
      <!-- <h2>1. Use a Fast Shutter Speed</h2> -->
      <p>
        The sky was quiet, the air still, and the moon slowly slipped into
        Earth’s shadow, bathing the night in a deep crimson glow. Its
        transformation was gradual yet mesmerizing, shifting from soft orange to
        a rich, almost haunting red. Watching it unfold felt like witnessing a
        secret performance in the heavens.
      </p>

      <!-- <h2>2. Continuous Autofocus Mode</h2> -->
      <p>
        Through my lens, capturing the Blood Moon was a delicate dance of patience and timing. Each moment demanded careful exposure adjustments and steady focus to preserve the intensity of its color while keeping the surrounding sky subtle and mysterious. Every click of the shutter felt like holding a fleeting piece of the universe in my hands.
      </p>

      <figure class="post-image small-img">
        <img
          src="/images/blog/nature-explorations/bird-that-does-not-drink-water/img2.webp"
          alt="Malabar Pied Hornbill"
        />
        <figcaption>
          Malabar Pied Hornbill
        </figcaption>
      </figure>

      <!-- <h2>3. Practice Tracking</h2> -->
      <p>
        This celestial spectacle reminded me that nature’s wonders aren’t confined to forests or lagoons. Sometimes, the most breathtaking stories are written across the sky, inviting us to pause, look up, and marvel at the vastness around us.
      </p>

      

      

      <p>
        Here are some of the photographs I captured during this rare celestial event — a night when the moon turned red, painting the world in a glow that will linger in memory long after it faded.
      </p>

      <figure class="post-image small-img">
        <img
          src="/images/blog/nature-explorations/bird-that-does-not-drink-water/img3.webp"
          alt="Lunar Eclipse 2025"
        />
        <figcaption>
          Lunar Eclipse 2025
        </figcaption>
      </figure>

      <figure class="post-image small-img">
        <img
          src="/images/blog/nature-explorations/bird-that-does-not-drink-water/img2.webp"
          alt="Lunar Eclipse 2025"
        />
        <figcaption>
          Lunar Eclipse 2025
        </figcaption>
      </figure>

      <figure class="post-image small-img">
        <img
          src="/images/blog/nature-explorations/bird-that-does-not-drink-water/img1.webp"
          alt="Lunar Eclipse 2025"
        />
        <figcaption>
          Lunar Eclipse 2025
        </figcaption>
      </figure>

      <figure class="post-image small-img">
        <img
          src="/images/blog/nature-explorations/bird-that-does-not-drink-water/img4.webp"
          alt="Lunar Eclipse 2025"
        />
        <figcaption>
          Lunar Eclipse 2025
        </figcaption>
      </figure>

      <figure class="post-image small-img">
        <img
          src="/images/blog/nature-explorations/bird-that-does-not-drink-water/img5.webp"
          alt="Lunar Eclipse 2025"
        />
        <figcaption>
          Lunar Eclipse 2025
        </figcaption>
      </figure>

      <figure class="post-image small-img">
        <img
          src="/images/blog/nature-explorations/bird-that-does-not-drink-water/img6.webp"
          alt="Lunar Eclipse 2025"
        />
        <figcaption>
          Lunar Eclipse 2025
        </figcaption>
      </figure>

      <figure class="post-image small-img">
        <img
          src="/images/blog/nature-explorations/bird-that-does-not-drink-water/img7.webp"
          alt="Lunar Eclipse 2025"
        />
        <figcaption>
          Lunar Eclipse 2025
        </figcaption>
      </figure>

      <figure class="post-image small-img">
        <img
          src="/images/blog/nature-explorations/bird-that-does-not-drink-water/img8.webp"
          alt="Lunar Eclipse 2025"
        />
        <figcaption>
          Lunar Eclipse 2025
        </figcaption>
      </figure>

      
    </section>
  </article>
</Layout>