

---
const base = import.meta.env.BASE_URL;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Home Page</title>
    <link rel="stylesheet" href="/style/contentLayout.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  </head>

  <body id="bg">
    <div id="bg-fader-1" class="bg-fader"></div>
    <div id="bg-fader-2" class="bg-fader"></div>
    
    <div class="content">

      <header>

      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="menu-icon">&#9776;</label>
      <nav>
          <a href="/">index</a>
          <a href="/about-us">About Us</a>
          <a href="/explore/">Our Explorations</a>
          <a href="#">Equipments</a>
          <a href="/temp">Gallery</a>
      </nav>
      </header>

      <slot />


    </div>
    
    <script>
      
      // const isMobile = window.innerWidth <= 768;

      // const bgImagesDesktop = [
      //     "/images/bg1.webp",
      //     "/images/bg2.webp",
      //     "/images/bg3.webp"
      //     ];

      // const bgImagesMobile = [
      
      //     "/images/bg1-tall.webp",
      //     "/images/bg2-tall.webp"
      //     ];

      // const bgImages = isMobile ? bgImagesMobile : bgImagesDesktop;
      const currentPath = window.location.pathname;

      // const bgElement = document.getElementById("bg");
      // let index = 1;

      // function preloadImage(src: string, callback: () => void): void {
      //     const img = new Image();
      //     img.onload = callback;
      //     img.src = src;
      // }

      // function changeBackground(): void {
      // preloadImage(bgImages[index], () => {
      //     if (bgElement) {
      //     bgElement.style.backgroundImage = `url("${bgImages[index]}")`;
      //     index = (index + 1) % bgImages.length;
      //     }
      // });
      // }

      // if (bgElement) {
      // setInterval(changeBackground, 6000);
      // }

      document.querySelectorAll("nav a").forEach((link) => {
        if (link.getAttribute("href") === currentPath) {
          link.classList.add("active");
        }
      });
      
    </script>
  </body>
</html>



